[submodule "submodule/pyserial"]
	path = submodule/pyserial
	url = https://github.com/pyserial/pyserial.git
[submodule "py_modules/submodule/pyserial"]
	path = py_modules/submodule/pyserial
	url = https://github.com/pyserial/pyserial.git
[submodule "py_modules/submodule/pyhidapi"]
	path = py_modules/submodule/pyhidapi
	url = https://github.com/apmorton/pyhidapi.git
