[submodule "submodule/pyserial"]
	path = submodule/pyserial
	url = https://github.com/pyserial/pyserial.git
[submodule "submodule/pyhidapi"]
	path = submodule/pyhidapi
	url = https://github.com/apmorton/pyhidapi.git
